.menu-item {

  &__text {
    text-transform: capitalize;
  }

  &__link {
    display: flex;
    color: darken( $highlight-3, 20% );
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: color 0.1s ease-out;

    &--selected {
      color: lighten( $highlight-3, 10% );
    }

    &--unselected {

    }
    & > span {
      margin-right: 0.8rem;
      height: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

    }

    svg {
      //padding: 1rem;
      width: 2rem;
    }
  }
}