.title {

    &__campaign {

    }

    &__team {
      color: #888;
      text-transform: capitalize;
    }

    &__steps {
      color: $highlight-3;
      border-bottom: 1px solid;
      width: fit-content;
      margin: 2rem 0 1.1rem 0;
    }

    &__wrap {
      width: 100%;
    }

}