@import 'reset.scss';
@import 'color.scss';
@import 'animation.scss';
@import 'blocks/_title.scss';
@import 'blocks/_menu-item.scss';
@import 'blocks/_step.scss';
@import 'blocks/_btn.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
$logo-height: 14rem;

.App {
    padding-bottom: 1rem;
    display: flex;
    height: 100vh;
}

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


header {
    height: $logo-height;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ccc;
}

.dashboard {
    padding: 0 4rem;
    height: calc(100vh - #{$logo-height});
    background-color: darken($bkg-2, 5%);
    overflow: auto;
    display: flex;

}

.preloader {
    height: 100vh;
    background-color: $bkg-3;
    display: flex;
    animation-name: inProgress;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

    span {
        margin: auto;
        color: $highlight-3;
    }

    svg {
        width: 4rem;
    }
}

.steps {
    display: flex;
    max-width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

h1{
    font-size: 4rem;
    font-weight: 100;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 1.4rem;
}

.aside {
    height: 100vh;
    flex-basis: 25rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 1rem;
    display: flex;
    flex-basis: $logo-height;
    color: #aaa;
    background-color: #eee;
    cursor: pointer;

    & > span {
        transition: transform 0.1s ease-out;
        margin: auto 1.4rem;
        flex-basis: 6rem;
    }

    &:hover {
        span {
            transform: scale(1.15);
        }
    }
}

nav.main {
    background-color: $bkg-2;
    flex-grow: 1;
    padding: 2rem 2rem 4rem;
    max-height: calc(100vh - #{$logo-height});
    overflow: auto;
}

section {
    width: 100%;
}

li {
    &.to-handle__item {
        display: inline-block;
        text-align: left;
    }
    &.done__item {
        display: block;
        text-align: left;
    }
}

.to-handle__list {
    display: flex;
    flex-wrap: wrap;
}